---
import AboutContent from '../assets/about.md';
import "../styles/global.css"
---

<div id="aboutpanel" class="panel">
    <AboutContent />
    <!-- for whatever reason, imported markdown is scoped differently, so we need to do this shit. frustrating!! -->
    <style>
        
        :global(h2) {
            align="center";
            color: #80FF80;
            font-family: sans-serif;
        }
    
        :global(p) {
            align="center";
            color: #80FF80;
            font-family: sans-serif;
        }
        
        :global(li) {
            align="center";
            color: #80FF80;
            font-family: sans-serif;
        }
    </style>
</div>

<style>
</style>
