---
import "../styles/global.css"
---

<div class="panel", id="linkpanel">
    <h2>Services</h2>
    <section id="links">
        <a class="button", href="https://nexus.edens-garden.xyz">Mattermost</a>
        <a class="button", href="https://docs.edens-garden.xyz">Cryptpad</a>
        <a class="button", href="https://meet.edens-garden.xyz">Mirotalk</a>
        <a class="button", href="https://sentinel.edens-garden.xyz">Grafana</a>
        <a class="button", href="https://kairos.edens-garden.xyz">Radicale</a>
    </section>
    <h2>Socials</h2>
    <sections id="links">
       <a class="button" rel="me" href="https://cyberpunk.lol/@eden">Cyberpunk.lol</a> 
       <a class="button" rel="me" href="https://social.translunar.academy/@eden">Translunar Academy</a>
       <!-- apparently this doesn't work unless someone is already friends with you on discord
       <a class="button" rel="me" href="https://discord.com/users/272559812363943937">Discord</a>
       -->
       <a class="button" rel="me" href="mailto:eden@edens-garden.xyz">Electronic Mail</a>
       <a class="button" rel="me" href="https://github.com/anemoijereja-eden">Github</a>
    </sections>
</div>
