---
import "../styles/global.css"
---


<div id="navbar">
    <img id="icon", alt="Eden's garden logo", src="/favicon.svg">
    <h2 id="brand">Eden's Garden</h2>
    <section id="links">
        <a class="button", href="/">Home</a>
        <a class="button", href="/testpage">Test Page</a>
    </section>
</div>

<style>
    #icon { 
        height="100%";
        width="auto";
        margin: 0.5em;
    }

    #navbar {
        height: 3em;
		background: linear-gradient(88.21deg, #20372c 0%, #263d39 100%);
        margin: .125em;
        position: sticky;
        top: 0;
        display: flex ;
		border-radius: .5em;

    }
	

	#links {
        margin-left: auto;
        margin-right: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
        display: flex;
		gap: 1em;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: rgb(165, 255, 166);
		background: #303030;
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 5px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}
</style>