---
import "../styles/global.css"
---


<div id="navbar">
    <img id="icon", alt="Eden's garden logo", src="/favicon.svg">
    <h2 id="brand">Eden's Garden</h2>
    <section id="links">
        <a class="button", href="/">Home</a>
        <a class="button", href="/testpage">Test Page</a>
    </section>
</div>

<style>
    #icon { 
        height="100%";
        width="auto";
        margin: 0.5em;
    }

    #navbar {
        height: 3em;
		background: linear-gradient(88.21deg, #20372c 0%, #263d39 100%);
        margin: .125em;
        position: sticky;
        top: 0;
        display: flex ;
		border-radius: .5em;

    }
	

</style>